@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
  padding:0;
  margin:0;
  font-family: 'Poppins', sans-serif;
  overflow-x:hidden;
}

/* Start of CSS FOR NAVBAR */
.navbar
{
  background-color: blueviolet;
  cursor: pointer;
}

.call-btn
{
  padding:0px 10px !important;
  border:none;
  border-radius: 7px;
  background-color: white;
  color:blueviolet;
  cursor: pointer;
}

.call-btn:hover{
  transform: scale(0.8);
  transition:0.5s ease-in-out;
}

@media (max-width:991px)
{
  .call-btn{
    width:40%;
    margin-left:0px !important;
    padding:2px 0px !important;
    margin-top: 10px !important;
  }
}

.link
{
  text-decoration: none;
}

.call-anchor
{
  text-decoration: none;
  color:blueviolet;
}

/* End of CSS FOR NAVBAR */

/* Start of CSS FOR Hero */

.hero-row
{
  background-color: black;
  color:white;
}

@media (min-width:991px)
{
  .hero-row
  {
   height:90vh;
  }
}


.hero-row p{
  font-size: 20px;
  text-align: justify;
  font-weight: lighter;
}

.hero-btn
{
  padding:8px 20px;
  border:none;
  background-color: blueviolet;
  color:white;
  cursor: pointer;
  margin:10px 20px 10px 0px;
  border-radius: 8px;
}

.hero-btn2
{
  padding:8px 20px;
  border:1px solid blueviolet;
  background-color: transparent;
  color:blueviolet;
  cursor: pointer;
  margin:10px 20px 10px 0px;
  border-radius: 8px;
}

.hero-btn:hover{
  transform: scale(0.9);
  transition: 0.4s ease-in-out;
}

.hero-btn2:hover{
  border:none;
  background-color: blueviolet;
  color:white;
  transform: scale(0.9);
  transition: 0.4s ease-in-out;
}

.hero-row img{
  width:100% !important;
  height:100% !important;
}

.callTutors
{
  color:blueviolet;
  text-decoration: none;
}

.callTutors:hover 
{
  color:white;
  transition: 0.4s ease-in-out;
}
/* End of CSS FOR Hero */

/* Start of Why us CSS */
.yus-card
{
  border:1px solid rgb(219, 216, 216);
  border-radius: 12px;
  cursor:pointer;
}

.yus-card:hover
{
  -webkit-box-shadow:0px 0px 10px grey;
  box-shadow:0px 0px 10px grey;
  transition:0.4s ease-in-out;
  transform: scale(1.02);
}

/* ENd of Why us CSS */

/* Start of Course CSS */

.course-card
{
  border:1px solid rgb(219, 216, 216);
  border-radius: 12px;
  cursor:pointer;
  padding:10px;
  margin:12px;
}

.parent-img
{
  width:100%;
  height:200px;
  margin-bottom: 15px;
}

.course-img
{
  border-radius: 12px;
  margin-bottom:16px;
  height: 100%;
  width:100%;
  object-fit: cover;
}


.course-card p{
  margin:8px 0px;
}

.course-btn
{
  width:100%;
  padding: 7px 20px;
  text-align: center;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
  cursor:pointer;
  color:white;
}

/* End of Course CSS */

/* Start of footer css */
.footer
{
  background-color: blueviolet;
  color:white;
}

.footer p{
  cursor: pointer;
  font-weight: lighter;
}

.social-media a{
  text-decoration: none;
  color:white;
}

/* End of footer css */

/* Start of Technology CSS */
.js
{
  width:100%;
  object-fit: cover;
  margin-bottom: 10px;
}
.react
{
  width:90%;
  margin:30px 10px 20px;
}
.express
{
  width:85%;
  margin:25px 10px 10px;
}
.nodejs
{
  width:85%;
  margin:25px 0px 10px;
}
.html
{
  width:81%;
  margin:29px 0px 12px;
}
.css
{
  width:85%;
  margin:10px;
}

.bootstrap
{
  width:100%;
  margin:12px 5px 13px 3px;
}

.mongodb
{
  width:80%;
  margin:10px;
}

.t-card
{
  border:1px solid rgb(216, 214, 214);
  border-radius: 12px;
  margin:10px;
}

.t-card:hover{
  box-shadow:0px 0px 10px grey;
  -webkit-box-shadow:0px 0px 10px grey;
  transition: 0.5s ease-in-out;
  transform: scale(1.01);
  cursor: pointer;
}

/* End of Technology CSS */

/* Start of Contact CSS */

.contact-row
{
  background-color:black;
}

.contact-row h4{
  font-weight: bolder; 
}

.contact-btn
{
  padding:8px 10px;
  width:100%;
  border-radius: 10px;
  border:none;
  background-color: blueviolet;
  color:white;
  cursor: pointer;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext {
  padding: 0rem 0.75rem;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
  height: calc(2.5rem + 2px);
  line-height: 1;
}

.form-floating>label {
  padding: 0.5rem 0.75rem;
}

.contact-form input:focus , .contact-form textarea:focus{
  outline: none;
  border:1px solid blueviolet;
}

.contact-form{
  border:1px solid rgb(212, 210, 210);
  border-radius: 8px;
  padding:10px;
}

.contact-form h5{
  color:blueviolet;
}

.contact-box
{
  border:1px solid rgb(222, 220, 220);
  border-radius: 8px;
}

.contact-box p{
  margin-bottom:8px;
}

@media (max-width:767px)
{
  .contact-hide-div
  {
    display: none;
  }
}

@media (min-width:768px)
{
  .contact-hide-div2
  {
    display: none;
  }
}

.map
{
  width:100%;
  /* height:200%; */
  height:250px;
}

@media (min-width:991px)
{
  .map{
    height:400px;
  }
}


/* End of Contact CSS */

/* CSS Start for CourseDetail Page */

.star
{
  color:rgb(255, 208, 0);
}

@media (min-width:576px)
{
  .relative
{
  position: relative;
}

.absolute
{
  position: absolute;
  top:30px;
  right:100px;
}
}

.course-card2
{
  margin: 10px 0px !important;
}

.course-detail-main-row
{
  background-color: black;
}

.card-detail-row
{
  margin:0px !important;
}

.money-text
{
  font-size: 12px;
  line-height: 16px;
}

.text-499
{
  font-weight: bold;
  font-size: 20px;
}

.course-include-card
{
  padding:24px 40px;
}

@media (max-width:767px)
{
  .course-include-card
  {
    padding:24px 10px 1px;
  }

  .course-include-card2
  {
    padding:5px 10px 10px !important;
  }
}

.course-include-card2
{
  padding:10px 40px;
}

.course-detail-list li
{
  word-spacing:3px;
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
}

.course-detail-desc
{
  text-align: justify;
}


/* CSS end for CourseDetail Page */


/* Start of privacy css */
.privacy-row
{
  text-align: justify;
}

/* end of privacy css */

/* Structure CSS Start */
.show-detail
{
  margin:20px auto;
  padding:10px 20px;
  border: 1px solid blueviolet;
  width:30vw;
  color:rgb(0, 0, 0);
  cursor: pointer;
}

@media only screen and (max-width:767px)
{
  .show-detail{
  padding:10px 10px !important;
  width:90vw;
  }
}

.structure-display
{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.show-detail p{
   font-size: 18px;
}

.x-schedule
{
  text-align: center;
  font-size:5vh;
  color:blueviolet;
  margin-top:5vh;
}

/* animation css laoding */
.center {
  height: 58vh;
  display: flex;
  justify-content: center;
  margin-top:20vh;
  /* align-items: center; */
  background: white;
}

.d-none
{
  display: none;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, blueviolet);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
 /* animation end */

 /* Structure CSS END */

 /* Testomonial CSS Start */

 .test-card
{
    border:1px solid rgb(202, 201, 201);
    border-radius:8px
}

.test-card p{
  /* text-align: justify; */
}

.student-img
{
    border-radius:50%;
    object-fit: cover;
    margin:0px 10px 12px;
    align-items: center;
}

.studentname-para
{
  font-weight: bold;
  font-size: 14px;
}

.studentname-para span{
  font-weight: lighter;
  font-size: 12px;
}

.insta-testimonial-icon
{
  color:blueviolet;
  margin-right:12px;
  cursor: pointer;
}

mark{
  background-color: rgb(207, 168, 243);
}

.abhisek-img
{
  width:50px;
  height:50px;
  object-fit: cover;
}

.insta-testimonial-icon a 
{
  color:blueviolet;
  text-decoration: none;
}
 /* Testomonial CSS End */

